<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title th:text="#{home.title}">Job List</title>
<link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/jobs}"><img alt="Brand" src="/resources/images/logo-sm.png"></img>
				</a>
				<a class="btn btn-default" href="#" th:href="@{/logout}">Logout</a>
			</div>
		</div>
	</nav>
	<a href="#" th:href="@{/job/new}" class="btn btn-default"
		style="float: right;">New Job</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Job Status</th>
				<th>Job Type</th>
				<th>Customer Name</th>
				<th>Commitment Start</th>
				<th>Commitment End</th>
				<th>Street</th>
				<th>Address 2</th>
				<th>City</th>
				<th>Field Device</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="job : ${jobs}">
				<td><a th:text="${job.id}" href="#" th:href="|/job/${job.id}|">id</a></td>
				<td th:text="${job.description}">Default</td>
				<td th:text="${job.jobType}">Default</td>
				<td th:text="${null}">Default</td>
				<td th:text="${job.whenCommitmentStart}">2000/01/01</td>
				<td th:text="${job.whenCommitmentEnd}">2000/01/01</td>
			</tr>
		</tbody>
	</table>

	<script src="resources/js/jquery.min.js" type="text/javascript"></script>
	<script src="resources/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>