<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title th:text="#{home.title}"></title>
<link rel="stylesheet" href="resources/css/bootstrap.min.css" />
</head>
<body>
	<h4 th:text="#{home.welcome}">
		Welcome Home
		<p th:text="${user.firstName}" />
	</h4>
	<a href="#" th:href="@{/job/create}" class="btn btn-default" style="float:right;">Create Job</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Job Status</th>
				<th>Job Type</th>
				<th>Customer Name</th>
				<th>Commitment Start</th>
				<th>Commitment End</th>
				<th>Street</th>
				<th>Address 2</th>
				<th>City</th>
				<th>Field Device</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="job : ${jobs}">
				<td th:text="${job.id}">1</td>
				<td th:text="${job.description}">Default</td>
				<td th:text="${job.jobType}">Default</td>
				<td th:text="${null}">Default</td>
				<td th:text="${job.whenCommitmentStart}">2000/01/01</td>
				<td th:text="${job.whenCommitmentEnd}">2000/01/01</td>
			</tr>
		</tbody>
	</table>
</body>
</html>