<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>#{login.title}</title>
<link rel="stylesheet" href="resources/css/bootstrap.min.css" />
</head>
<body class="container">
	<form action="#" th:action="@{/login}" th:object="${login}" method="post">
		<div class="form-group">
			<label for="exampleInputEmail1">#{login.email}</label> 
			<input type="email" class="form-control" th:field="*{emailAddress}"
				placeholder="Email" />
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">#{login.password}</label> 
			<input type="password" class="form-control" th:field="*{password}"
				placeholder="Password" />
		</div>
		<button type="submit" class="btn btn-default">#{login.submit}</button>
	</form>
	<script src="resources/js/jquery.min.js" type="text/javascript"></script>
	<script src="resources/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>